{% extends "base.html" %}

{% block head %}

<title>Index</title>

{% endblock %}

{% block body %}

<div class="bg-green-900 flex flex-row items-center h-[4rem] px-3 lg:px-[14rem]">
    <div class="">
        <img class="w-[7rem]" src="{{ url_for('static', filename='img/logo-branca.png') }}" alt="">
    </div>
</div>

<section class="flex justify-center px-3 pb-10">

    <form action="/create_pdf" method="post">

        {% if message %}
            {% for messager in message %}
            <div class="notification_div flex items-center justify-center w-auto">
                <div class="bg-green-800 flex flex-col p-1 rounded-b-lg">
                    <div class="flex justify-center gap-1">
                        <div>
                            <img src="../static/img/notification_important.svg" alt="Notificação">
                        </div>
                        <div class="flex items-center justify-center text-white font-semibold">
                            <span>Atenção!</span>
                        </div>
                    </div>
                    <div class="text-white font-normal">
                        <span>{{ messager }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}

        <div class="flex justify-end items-center h-[4rem]">
            <div class="flex justify-end  h-[3rem] w-[8rem]">
                <input class="bg-green-800 h-full w-full rounded-md text-white transition transform hover:ease-in-out duration-800  hover:scale-95" type="submit" value="Enviar">
            </div>
        </div>

        <div class="flex flex-col gap-3">

            <div class="flex flex-col gap-2 w-full ">
                <div>
                    <span class="text-gray-400 font-semibold">Nome<span class="text-requiredfield">*</span></span>
                    <input class="border border-solid border-gray-400 rounded-md w-full h-[2rem] pl-1" type="text" name="nome" required placeholder="Digite...">
                </div>
                <div>
                    <span class="text-gray-400 font-semibold">E-mail<span class="text-requiredfield">*</span></span>
                    <input class="border border-solid border-gray-400 rounded-md w-full h-[2rem] pl-1" type="email" name="email" required placeholder="Digite...">
                </div>
            </div>

            <div>

                <div class="flex items-center h-[2rem]">
                    <div>
                        <span class="text-gray-400 font-semibold">Produtos<span class="text-requiredfield">*</span></span>
                    </div>
                </div>

                <div class="grid grid-cols-2 gap-2 md:grid-cols-4">
                    {% for produto in itens['produtos']['itens'] %}
                    <div class="body-div border border-solid rounded-md border-gray-400">
                        <div class="">
                            <img src="{{ url_for('static', filename='img/' + produto.img) }}" alt="Imagem de capa"
                                    class="w-full h-full object-cover rounded-t-md" />

                            <div class="flex justify-center p-2 rounded-b-md text-gray-500 hover:bg-green-900 hover:text-white">
                                <span class="description font-semibold">{{ produto.nome }}</span>
                                <input class="checked hidden" type="checkbox" name="produtos[itens][]" value="{{ produto.nome }}">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div>

                <div class="flex items-center h-[2rem]">
                    <div>
                        <span class="text-gray-400 font-semibold">Tipos de estampas<span class="text-requiredfield">*</span></span>
                    </div>
                </div>

                <div class="grid grid-cols-2 gap-2 md:grid-cols-4">
                    {% for produto in itens['produtos']['estampas'] %}
                    <div class="body-div border border-solid rounded-md border-gray-400">
                        <div class="">
                            <div class="bg-green-800 rounded-md">
                                <img src="https://placehold.co/200x250" alt="Imagem de capa"
                                    class="w-full h-full object-cover rounded-t-md" />
                            </div>
                            <div class="flex justify-center p-2 rounded-b-md text-gray-500 hover:bg-green-900 hover:text-white">
                                <span class="description font-semibold">{{ produto.nome }}</span>
                                <input class="checked hidden" type="checkbox" name="produtos[estampas][]" value="{{ produto.nome }}">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div>

                <div class="flex items-center h-[2rem]">
                    <div>
                        <span class="text-gray-400 font-semibold">Cores que você deseja na estampa<span class="text-requiredfield">*</span></span>
                    </div>
                </div>

                <div class="grid grid-cols-4 gap-2 md:grid-cols-4">
                    {% for produto in itens['produtos']['cores'] %}
                    <div class="body-div flex justify-center border border-solid border-gray-400 text-gray-500 rounded-lg p-4 hover:bg-green-900 hover:text-white">
                        <span class="description font-semibold">{{ produto.nome }}</span>
                        <input class="checked hidden" type="checkbox" name="produtos[cores][]" value="{{ produto.nome }}">
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>

    </form>

</section>

{% endblock %}

{% block script %} 

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}