{% extends "base.html" %}

{% block head %}

<title>Index</title>

{% endblock %}

{% block body %}

<div class="bg-green-900 flex flex-row justify-center font-bold text-xl text-white items-center h-[4rem]">
    <h1>Projeto-agrado</h1>
</div>

    <section class="flex justify-center px-3 pb-6">

        <form action="/create_pdf" method="post">

            <div class="flex justify-end items-center h-[4rem]">
                <div class="flex justify-end  h-[3rem] w-[8rem]">
                    <input class="bg-green-800 h-full w-full rounded-2xl text-white transition transform hover:ease-in-out duration-800  hover:scale-95" type="submit" value="Enviar">
                </div>
            </div>

            <div class="flex flex-col gap-3">

                <div class="flex flex-col gap-2 w-full ">
                    <div>
                        <span class="text-gray-400 font-semibold">Nome</span>
                        <input class="border border-solid border-gray-400 rounded-xl w-full pl-1" type="text" name="nome" placeholder="Digite...">
                    </div>
                    <div>
                        <span class="text-gray-400 font-semibold">E-mail</span>
                        <input class="border border-solid border-gray-400 rounded-xl w-full pl-1" type="email" name="email" placeholder="Digite...">
                    </div>
                </div>

                <div>

                    <div class="flex items-center h-[2rem]">
                        <div>
                            <span class="text-gray-400 font-semibold">Produtos</span>
                        </div>
                    </div>

                    <div class="grid grid-cols-3 gap-2 md:grid-cols-4">
                        {% for produto in itens['produtos']['itens'] %}
                        <div class="body-div border border-solid rounded-md border-gray-400">
                            <div class="">
                                <div class="bg-green-800 rounded-md">
                                    <img src="https://placehold.co/200x250" alt="Imagem de capa"
                                        class="w-full h-full object-cover rounded-t-md" />
                                </div>
                                <div class="flex justify-center p-2 rounded-b-md text-gray-500 hover:bg-green-900 hover:text-white">
                                    <span class="description font-bold">{{ produto.nome }}</span>
                                    <input class="checked hidden" type="checkbox" name="produtos[itens][]" value="{{ produto.nome }}">
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div>

                    <div class="flex items-center h-[2rem]">
                        <div>
                            <span class="text-gray-400 font-semibold">Estampas</span>
                        </div>
                    </div>

                    <div class="grid grid-cols-3 gap-2 md:grid-cols-4">
                        {% for produto in itens['produtos']['estampas'] %}
                        <div class="body-div border border-solid rounded-md border-gray-400">
                            <div class="">
                                <div class="bg-green-800 rounded-md">
                                    <img src="https://placehold.co/200x250" alt="Imagem de capa"
                                        class="w-full h-full object-cover rounded-t-md" />
                                </div>
                                <div class="flex justify-center p-2 rounded-b-md text-gray-500 hover:bg-green-900 hover:text-white">
                                    <span class="description font-bold">{{ produto.nome }}</span>
                                    <input class="checked hidden" type="checkbox" name="produtos[estampas][]" value="{{ produto.nome }}">
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </form>

    </section>

</div>

{% endblock %}

{% block script %} 

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}